/*===========================================================*/
/*                   Subfolder imports               */
/*=========================================================*/
/*============================================================================*/
/*              Utilities imports             */
/*============================================================================*/
/*============================================================================*/
/*              Base imports             */
/*============================================================================*/
/* ============================================= */
/*              Base styles                      */
/* ============================================= */
* {
  box-sizing: border-box;
}

/* ============================================= */
/*              Typography                       */
/* ============================================= */
/*============================================================================*/
/*              Components imports             */
/*============================================================================*/
/* ============================================= */
/*              Buttons                          */
/* ============================================= */
/* ============================================= */
/*              Forms                            */
/* ============================================= */
/*=============================================*/
/*              Grid System                      */
/* ============================================= */
nav {
  display: grid;
}

main {
  display: grid;
}

/* ============================================= */
/*              Images                           */
/* ============================================= */
a img {
  margin-left: 0 auto;
}

img {
  border-radius: 50%;
}

/* ============================================= */
/*              Navigation                       */
/* ============================================= */
nav {
  background-color: rgb(68, 68, 163);
  padding: 1em 4em;
  justify-content: space-around;
}

nav svg {
  width: 60%;
  fill: white;
}

ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0;
  margin: 0;
}

/* ============================================= */
/*              Media Queries                    */
/* ============================================= */
svg {
  width: 35%;
}

header {
  display: grid;
  grid-template-columns: 1.6fr 0.8fr 0.7fr 1.4fr;
  grid-template-rows: 100px;
  place-items: center;
  grid-gap: 0;
  background-color: rgb(96, 117, 238);
  color: white;
  font-weight: 200;
}

header a:nth-of-type(2) {
  border-left: 2px solid rgba(255, 255, 255, 0.367);
}

header img {
  width: 60%;
}

header svg {
  fill: white;
}

h1, h2 {
  font-weight: 100;
}

body {
  margin: 1em 0.5em;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

section h3 {
  text-align: left;
  margin: 1em;
}

main {
  margin-left: 0 auto;
}

li {
  list-style: none;
}

/*# sourceMappingURL=styles.css.map */
