$main-color: rgb(96,117,238);
$secondary-color: rgb(68,68,163);
$active-button-color: rgb(123, 213, 123);
$white: #fff;
$text-color: rgb(17, 16, 16);
$grey: rgb(141, 136, 136);
$light-grey: rgb(226, 221, 221)
