header{
    text-align: center;
    justify-content: center;
    grid-area: hd;
    display: grid;
    grid-template-columns: repeat(4, minmax(auto, 100px));
    max-height: 150px;
    place-items: center;
    grid-gap: 0;
    background-color: rgb(96, 117, 238);
    color: white;
    font-weight: 200;
    padding: 0 .5em;
        
    svg{
        width: 80%;
        fill: $white;
    }
    a:nth-of-type(2){
      border-left: 2px solid rgba(255, 255, 255, 0.367);
    }
    img {
      width: 70%;
      padding: 0 .5em;
    }
    h1 {
      font-weight: 200;
      padding-left: .5em;
    }
    h2{
      font-size: 1.2em;
      font-weight: 200;
    }

  }

  .notification-mark{
    padding: 15px 26px;
    position: relative;
    border-radius: 2px;

  }
  .notification-mark .badge {
  position: absolute;
  top: .7em;
  right: 2em;
  @include greendot
  }



.notification{
  background-color: $white;
  position: absolute;
  width: max-content;
  height: max-content;
  text-align: left;
  padding: 0;
  box-shadow: 1px 1px 10px $grey;
  right: -150%;
  

  z-index: 1;

    li {
      position: relative;
      padding: 1em 3em;
      border-bottom: 1px solid $grey;
      font-weight: 500;
      color: black;

    }
  

}

.ul-badge{
    position: absolute;
    @include greendot;
    top: 1.4em;
    left: 1em;
    padding: 0.3em;

}