.new-members, .recent-active {
    text-align: center;
    padding: 1em;
    span {
        font-weight: bold;
    }

}


.new-members h3{
    padding-left: 1em;
}

.new-members{
    grid-area: nm;
}

.recent-active{
    grid-area: ra;
    border-top: 1px solid $grey;
    border-bottom: 1px solid $grey;
}

.member-activity, .members-container{
    padding: 1em 0;  
    border-bottom: 1px solid $grey;
    &:last-child{
        border-bottom: 1px solid $white;
    }
}

.members-container{
    p:last-child{
        font-weight: 700;
    }
}