nav {
    display: grid;
    grid-area: nav;
    background-color: rgb(68, 68, 163);
    padding: 1em 4em;
    justify-content: space-around;
    svg {
        width: 60%;
        fill: white;
    }
    ul {
        display: grid;
        grid-template-columns: repeat(4, minmax(auto, 80px));
        padding: 0;
        margin: 0;
        text-align: center;
    }
}

