/* ============================================= */
/*              Typography                       */
/* ============================================= */
h1, h2, h3, label {
    font-family: 'Nunito Sans', sans-serif;  
}

h1 {
    font-size: 1.5em;
    text-transform: uppercase;
}

p {
    font-family: 'Nunito Sans', sans-serif;  
    font-size: 1em;
    font-weight: 400;
    color: black;
    margin: 0;
}

a{
    margin: 0;
}
strong{
    font-family: 'KoHo', sans-serif;
    font-size: 1em;
    font-weight: 700;
}

li {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 200;
    font-size: 1em;
}

a {
    cursor: pointer;

  }

.switch-light strong {
    font-size: 1.2em;

    font-weight: bold;
}
